*{
    margin: 0;
    padding: 0;
}
.footer{    color: rgb(53, 53, 53);
 
    bottom: 0;
    width: 100%;
    padding-top: 40px ;
    text-align: center;
    margin-left:0.5vh ;
}

.footer p:nth-of-type(2),
.footer p:nth-of-type(3) {
    padding-bottom: 5px;
}
.logo-icon {
    display: block;
  
    width: 200px; /* Increase width as needed */
    height: auto; 
}

.black {
    background-color: #4CAF50;
    background: url('../static/skins.png') no-repeat center center fixed; 
    background-size: cover;

}

.back-button {
    position: absolute;
    padding-top: 13px;
    left: 20px;
    width: 5vh;
}