<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer's Background Check Tool</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='customer_check.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="black">
      <img
        src="{{ url_for('static', filename='logo.png') }}"
        alt="EyeML Logo"
        class="logo-icon"
      />
      <h2>EyeML</h2>
      <div class="centered-text">
        <h2>Customer's Background Check Tool</h2>
      </div>
    </div>
    <div class="middle">
      <p>Using this tool you can check your customer's background</p>
    </div>
    <div class="logos-icon">
      <img
        src="{{ url_for('static', filename='logo.png') }}"
        alt="EyeML Logo"
        class="logos-icon"
      />
    </div>
    <div class="form-container">
      <form action="/path-to-your-handler" method="post">
        <label for="accountNumber">Enter Customer's Account Number</label><br />
        <input
          type="text"
          id="accountNumber"
          name="accountNumber"
          placeholder="Account Number"
          required
        /><br />
        <button type="submit">
          <a href="{{ url_for('check') }}">Check</a>
        </button>
      </form>
    </div>

    <div class="footer">
      <a href="{{ url_for('dashboard') }}" class="back-button">
        <img
          src="{{ url_for('static', filename='back-logo.png') }}"
          alt="Back"
          class="back-button"
        />
      </a>
      <p>Contact Us</p>

      <i class="fa fa-envelope"></i>
      <p>EyeML 2024</p>
      <p>All Rights Reserved</p>
    </div>
  </body>
</html>
